@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --text-color: #ecf0f1;
    --background-color: #222;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

html {
    color: var(--text-color);
    font: 16px "Roboto", sans-serif;
    scroll-behavior: smooth;
    /* disable text selection */
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    /* scrollbar customization for firefox */
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.link {
    position: relative;
}

.link::after {
    content: "";
    height: 2px;
    left: 50%;
    bottom: 0;
    position: absolute;
    background-color: var(--text-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover::after {
    left: 0;
    width: 100%;
}

#horizontal-navigation {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    z-index: 100;
    transition: top 0.3s, background-color 0.4s;
}

#horizontal-navigation>a {
    color: #bbb;
    position: relative;
    padding: 20px 15px;
    margin: 20px 10px;
    cursor: pointer;
    transition: color 150ms;
}

#horizontal-navigation>a.active, #horizontal-navigation>a:hover {
    color: var(--text-color);
}

#vertical-navigation {
    top: 0;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    font-size: 0.9rem;
    transition: top 0.3s
}

#vertical-menu {
    display: none;
}

#menu-bars {
    right: 0;
    top: 50%;
    margin: 0 20px;
    font-size: 1.5rem;
    position: absolute;
    transform: translateY(-50%);
}

#vertical-menu>a {
    opacity: 0;
    padding: 30px;
    display: block;
    text-align: center;
    transform: translateY(-100%);
    background-color: #222;
}

#vertical-menu>a:hover {
    background-color: #333;
}

.show-menu {
    position: relative;
    padding: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: #222;
}

#vertical-navigation input[type=checkbox] {
    display: none;
}

#vertical-navigation input[type=checkbox]:checked~#vertical-menu {
    display: block;
}

#vertical-navigation input[type=checkbox]:checked~#vertical-menu>a:nth-child(1) {
    animation: fade-down 200ms ease forwards;
}

#vertical-navigation input[type=checkbox]:checked~#vertical-menu>a:nth-child(2) {
    animation: fade-down 200ms ease 100ms forwards;
}

#vertical-navigation input[type=checkbox]:checked~#vertical-menu>a:nth-child(3) {
    animation: fade-down 200ms ease 200ms forwards;
}

.container {
    min-height: 100vh;
}

.container-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-text {
    font-size: 2.5vmax;
    text-align: center;
}

#main-container>.container-bg {
    background-color: #171a21;
    cursor: url("../statics/icons/bullet-cursor.png"), auto;
}

#main-container>.container-text {
    bottom: 0;
    margin: 5%;
    text-align: left;
    position: absolute;
    cursor: url("../statics/icons/bullet-cursor.png"), auto;
}

#main-container>.container-text>h1 {
    margin: 10px 0 0;
    letter-spacing: 0.5rem;
    font-weight: 400;
}

#social-media-box {
    font-size: 35px;
}

#social-media-box a {
    margin: 0 10px;
}

#social-media-box a i {
    transition: all 100ms linear;
}

#social-media-box .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

#social-media-box .fa-instagram:hover {
    color: transparent;
}

#social-media-box .fa-github:hover {
    color: #171515;
}

#social-media-box .fa-linkedin:hover {
    color: #0077b5;
}

.next-slide-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    animation: floating 3s ease-in-out infinite;
    cursor: pointer;
}

.next-slide-btn>span {
    padding: 6px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.next-slide-btn:hover {
    background-color: #222;
}

#projects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
}

#projects-container>.container-text {
    font-weight: 500;
    margin-bottom: 30px;
}

#projects-box {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.project-card {
    flex: 0 1 31%;
    margin: 30px 10px 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    transition: all 200ms ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #111;
}

.project-img {
    height: 300px;
    background-size: cover;
}

.project-text {
    flex: 1 0;
    line-height: 1.5;
    padding: 7% 10%;
}

.project-text>h2 {
    margin: 0;
}

.project-text>.languages {
    font-size: 0.9em;
}

.project-text>.languages>.link {
    color: #bbb;
}

.project-text>.languages>.link::after {
    background-color: #bbb;
}

.project-text>.description {
    margin-bottom: 0;
    line-height: 1.7;
}

.project-links {
    display: flex;
    flex: 0 0 55px;
}

.project-links a {
    flex: 1 0 50%;
    line-height: 55px;
    text-align: center;
    background-color: #555;
    border: 1px solid #333;
    font-size: 20px;
}

.project-links a:nth-child(1) {
    font-size: 25px;
}

.project-links a:hover {
    background-color: #666;
}

#resume-container {
    padding: 5%;
    display: flex;
    align-items: center;
    background-color: #171a21;
}

#resume-container>.container-text {
    font-weight: 500;
}

#resume-box {
    display: flex;
    width: 100%;
    min-height: 80vh;
    background-color: #2C2F33;
}

#resume-navigation {
    flex: 0 0 15%;
    background-color: #23272A;
}

#resume-navigation>div {
    padding: 20px;
    cursor: pointer;
}

#resume-navigation>div.active, #resume-navigation>div:hover {
    background-color: #2C2F33;
}

#resume-main {
    flex: 1 0;
}

#resume-bio {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3%;
}

#resume-bio>.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("../statics/images/avatar.jpg");
}

#resume-bio>.text {
    flex-grow: 1;
    padding: 0 4%;
    line-height: 2;
}

#resume-bio>.text>h2 {
    margin: 0;
    font-size: 35px;
    font-weight: 400;
}

#download-resume {
    padding: 20px 30px;
    background-color: #23272A;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

#download-resume:hover {
    color: black;
    background-color: #ccc;
}

#resume-content {
    padding: 0 40px;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.2rem;
}

#resume-content>div:not(:first-child) {
    display: none;
}

#resume-content hr {
    margin: 40px 0;
}

#resume-content>div>h2 {
    font-weight: 400;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
}

.profiles-container>a {
    flex: 1 0;
    position: relative;
    cursor: pointer;
    height: 100px;
    margin: 0 10px;
}

.profiles-container>a>.bg-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    transition: filter 200ms ease;
}

.profiles-container>a:hover>.bg-img {
    filter: brightness(20%);
}

.profiles-container>a>.data {
    top: 50%;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity 200ms ease;
}

.profiles-container>a>.data>h2 {
    font-weight: normal;
    font-size: 1.5vmax;
}

.profiles-container>a:hover>.data {
    opacity: 1;
}

.skills-container {
    margin-bottom: 40px;
}

.skills-container img {
    height: 18px;
    filter: grayscale(100%);
    transition: all 200ms;
}

.skills-container a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin: 10px 5px 0 0;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 200ms;
}

.skills-container a:hover {
    background-color: #414141;
}

.skills-container a:hover img {
    filter: grayscale(0%)
}

.inner-dot-list {
    height: 40vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}

.inner-dot-list>div {
    display: flex;
    margin-bottom: 20px;
}

.inner-dot-list>div>.info {
    flex: 0 0 15%;
}

.inner-dot-list>div>.splitter {
    flex: 0 0 5%;
    text-align: right;
    padding: 0 20px;
}

.inner-dot-list>div>.data>h3 {
    margin: 0;
    font-weight: 400;
}

#hobbies-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hobby-card {
    position: relative;
    flex: 0 0 24%;
    height: 300px;
}

.hobby-card>.card-bg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: filter 200ms ease;
}

.hobby-card:hover>.card-bg {
    filter: brightness(20%);
}

.hobby-card>.card-data {
    opacity: 0;
    width: 100%;
    padding: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: opacity 200ms ease;
}

.hobby-card:hover>.card-data {
    opacity: 1;
}

@keyframes floating {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 10px;
    }
}

@keyframes fade-down {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .container-text {
        font-size: 3.5vmax;
    }
    .project-card {
        flex-grow: 1;
    }
}

@media screen and (max-width: 860px) {
    #horizontal-navigation {
        display: none;
    }
    #vertical-navigation {
        display: block;
    }
    #resume-box {
        min-height: auto;
    }
    #resume-navigation, #resume-content {
        display: none;
    }
    #resume-bio {
        flex-wrap: wrap;
        text-align: center;
    }
    #resume-bio>.avatar {
        margin: 20px 0;
    }
    #download-resume {
        margin: 35px 0 10px;
    }
}

@media screen and (max-width: 640px) {
    #main-container>.container-text {
        margin: 15% auto;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    #main-container>.container-text>hr {
        margin: 40px auto !important;
    }
    #projects-container>.container-text, #resume-container>.container-text {
        margin: 20px 0;
    }
    .next-slide-btn {
        display: none;
    }
    .project-card {
        flex-basis: 100%;
    }
}