@import "tailwindcss";

@font-face {
	font-family: "HelveticaNow";
	src: url("./assets/fonts/dHHUz45rhM2KCQpj9zttNVlibk.woff2") format("woff2");
}

@font-face {
	font-family: "Stylish";
	font-style: normal;
	src: url("./assets/fonts/stylish.woff2") format("woff2");
}

@font-face {
	font-family: "Stylish";
	font-style: italic;
	src: url("./assets/fonts/stylish-italic.woff2") format("woff2");
}

:root {
	@apply font-[HelveticaNow];
	@apply scheme-light-dark;
	@apply bg-neutral-100 text-neutral-950 dark:bg-neutral-950 dark:text-neutral-50;
	/* @apply bg-neutral-100 text-neutral-950; */
	@apply antialiased md:subpixel-antialiased;
}